/* === Reset CSS === */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: Arial, sans-serif;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* === /Reset === */

/* === Menu === */
.navbar .navbar-header .navbar-brand{
	font-size: 2em;
	padding-top: 25px;
}

.navbar #car{
	margin: 0px 5px 0px 20px;
	position: relative;
	top: 10px;
}

/* === /Menu === */

/* === Game Section === */
#GameNode{
	height: 100%;
	width: 100%;

	padding: 70px 15% 0px 0px;
	margin: 0px;

	position: absolute;
	top: 0px;
	left: 0px;

	box-sizing: border-box;
	overflow: hidden;
}

#GameNode #players,
#GameNode #shoots,
#GameNode #map{
	height: 100%;
	width: 100%;

	margin: 0px;
	padding: 0px;

	position: absolute;
	top: 70px;
	left: 0px;
}

#GameNode #players{
	z-index: 10;
}
#GameNode #shoots{
	z-index: 5;
}
#GameNode #map{
	z-index: 1;
	background: url(../img/patterns/snow.png) repeat;
}

#GameNode .player{
	height: 32px;
	width: 32px;

	margin: 0px;

	position: absolute;
	top: 35px;
	left: 35px;


	overflow: visible;
}
#GameNode .player img{
	position: absolute;
	top: 0px;
	left: 0px;
}
#GameNode .player h6{
	width: 64px;
	height: auto;

	position: absolute;
	left: 50%;
	top:-15px;

	margin-left: -32px;

	text-align: center;
	font-size: 0.8em;
}

#GameNode .player.up img{

}
#GameNode .player.down img{

}
#GameNode .player.left img{
	-webkit-transform:scaleX(1);
	-moz-transform:scaleX(1);
	-ms-transform:scaleX(1);
	-o-transform:scaleX(1);
	transform:scaleX(1);
}
#GameNode .player.right img{
	-webkit-transform:scaleX(-1);
	-moz-transform:scaleX(-1);
	-ms-transform:scaleX(-1);
	-o-transform:scaleX(-1);
	transform:scaleX(-1);
}

#GameNode .shoot{
	background: #d2322d;
	border: 1px solid #ac2925;
	border-radius: 2px;
	height: 4px;
	width: 14px;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.8);
	position: absolute;
}

#GameNode .shoot.top,
#GameNode .shoot.bottom{
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	transform:rotate(90deg);
}

/* === /Game Section === */

/* === Information Section === */
#Information{
	height: 100%;
	width: 15%;

	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 200;

	background: #FFF;
	border-left: 1px solid #404040;

	padding-top: 70px;
	box-sizing: border-box;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
}

#Information p{
	margin-top: 10px;
	padding: 0px 10px;
}
#Information p.log{
	color: #3276b1;
}

#Information p .player{
	font-style: italic;
	font-weight: 700;
}

#Information #sendMsg{
	height: auto;
	width: 100%;

	position: absolute;
	bottom: 10px;
	left: 0px;

	text-align: center;
}

#Information #sendMsg input[type="text"]{
	width: 70%;
	float: left;
	margin-left: 10px;
}

/* === /Information Section === */